<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section values">
    <div class="container">
    	<div class="row">
    	{{#each books3 as |val key|}}
    	 	<div class="one-third column value">
            <h5 class="value-heading">{{val.title}}</h5>
            <img src="/images/{{val.cover}}" />
            <h6 class="value-heading">{{val.publisher}}, {{val.year}}</h6>
            </div>
        {{/each}}
        </div>
        <div class="row">
    	{{#each books6 as |val key|}}
    	 	<div class="one-third column value">
            <h5 class="value-heading">{{val.title}}</h5>
            <img src="/images/{{val.cover}}" />
            <h6 class="value-heading">{{val.publisher}}, {{val.year}}</h6>
            </div>
        {{/each}}
        </div>
    </div>
  </div>